{% extends "index.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}
{% block body_class %}category{% endblock %}"

{% block content_prelude %}
{% for page in pages %}
    {% if page.category == category %}
    {% if page.main_illustration %}
    <img src="{{ page.main_illustration }}" alt="{{ page.main_illustration|default("Article illutration") }}">
    {% endif %}
    <section>
        <h1>{{ page.title }}</h1>
        {% if articles_page.number == 1 %}
        {{ page.content }}
        {% endif %}
    </section>
    {% endif %}
{% endfor %}

{% if category == "code" %}
<section>
    <h2>Talks</h2>
    <p>I sometimes give talks:</p>
    <ol class="post-list">
        {% for article in all_articles if article.talk %}
        <li><article>
            <p>⏱ <time class="published" datetime="{{ article.date.isoformat()
                }}"> {{ article.locale_date }}</time>: <a href="{{ SITEURL
                }}/{{ article.url }}" rel="bookmark" title="Permalink to {{
                article.title|striptags }}">{{ article.title }}</a>
                <span class="summary">{{ article.talk }}</span></p>
        </article></li>
        {% endfor %}
    </ol>
<section>
{% elif category == "misc" %}
{% include "spotify.html" %}
{% endif %}
{% endblock %}

{% block content_title %}
<h2>Articles about <span class="cat">{{ category }}</span></h2>
{% endblock %}
