{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title }} - {{ SITENAME }}{%endblock%}
{% block body_class %}content page {{ page.slug }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
{% if page.main_illustration %}
<img src="{{ page.main_illustration }}" alt="{{ page.main_illustration|default("Article illutration") }}">
{% endif %}

<article>
    <h1>{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
</article>
{% endblock %}
