{% extends "base.html" %}
{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}

{% block title %}{{ playlist.name }} - {{ SITENAME }}{%endblock%}
{% block body_class %}content playlist{%endblock%}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<article>
    <h1>{{ playlist.name }}</h1>

    <p class="playlist-link">
    {% if playlist.image %}
    <a href="{{playlist.external_url}}" target="_blank" class="playlist-image">
    <img src="{{ playlist.image }}" alt="Playlist illustration">
    </a>
    {% endif %}

    <a href="{{playlist.external_url}}" target="_blank">Listen to this playlist
        on Spotify!</a></p>


    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Artist</th>
                <th>Track</th>
            </tr>
        </thead>
        <tbody>
            {% for nb, track in tracks %}
            <tr>
                <th>{{ nb + 1 }}</th>
                <td>{{ track.artists[0] }}</td>
                <td>{{ track.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}
